
a {
    background-color: #f33;
    /* font-size: 96px; */
}

button {
    width: 150px;
    height: 40px;
}

.parent {
    /* width of a block element is 100% of its parent */
    /* background-color: #f33; */
    /* display: block;
    width: 100%; */

    /* we have both relative and absolute length */
    /* pixel = 1/96 of an inch */

    /* width: 50%; */
    /* height: 400px; */
    /* overflow: scroll; */
}


.parent {
  width: 50%;
  background-color: #a5ef13;
  height: 600px;
}

.child {
    background-color: #f33;
    width: 50%;
}
