.🍎 {
    /*  border-size makes the border and padding included inside the width and height */
    box-sizing: border-box;
    width: 400px;
    height: 300px;
    background-color: #f11;
    padding: 50px;
    /* width = 300 + 50 */
    /* height = 300 + 50 */
    border: 20px solid;
    /* width = 300 + 50 + 20 */
    /* height = 300 + 50 + 20 */

    /* margin: 20px; */
}

.🍊 {
    width: 400px;
    height: 300px;
    background-color: #f0f;
}